body {
    font-family: Arial, sans-serif;
    padding: 2rem;
    background-color: #EFEFEF;
}


.editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    height: 100%;
}

.name {

    width: 100%;

    height: 20px;
    
}  

.user-input, .feedback {

    width: 100%;

    height: 50vh;
    
}  

/* Laptop: Side-by-Side */
@media (min-width: 1024px) {
    .editor {

	grid-template-columns: 1fr 1fr;

    }


    .user-input, .feedback {

	height: 70vh;
    
    }  

}
